nav {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    li {
        margin: 0 15px;
        a {
            font-family: "Poppins";
            font-weight: 400;
            font-size: 14.5px;
            color: var(--primary);
            transition: all 0.3s ease;
            img {
                width: 95px;
            }
        }
        a:hover {
            color: var(--titles);
        }
    }
}

.active {
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.13);
}

.mobile{
    display: none;
}

//! SMARTPHONES AND TABLETS
@media (max-width: 991px) {
    .desktop{
        display: none;
    }
    .mobile{
        display: initial;
    }
.menu{
    position: absolute;
    right: 10px;
}
.menu svg {
    transform: scaleX(-1);
    height: 40px;
}
    #navbar {
    position: fixed;
    display: initial !important;
    transform: translate(100%, 0);
    top: 0px;
    right: 0px;
    z-index: 10;
    width: 70vw;
    background-color: white;
    height: 100vh;
    box-shadow:  0 0 0 1000px rgba(0, 0, 0, 0.677);
    transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    padding-left: 30px;
    position: relative;
    top: 15vw;
    li {
        margin: 10px 0;
        text-transform: uppercase;
        transition: 0.2s all ease-in;
        a {
            font-size: 15px;
            color: var(--titles);
            transition: 0.2s all ease-in;
        }
    }
    li a:hover {
        color: var(--background2);
    }
}

.close-btn-nav {
    width: 17px;
    position: absolute;
    right: 16px;
    top: 22px;
    cursor: pointer;
}

.zoom-in {
    opacity: 1 !important;
    visibility: visible !important;
    animation-name: navbarIn !important;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.zoom-out {
    animation-name: navbarOut !important;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes navbarIn {
    0% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes navbarOut {
    0% {
        transform: translate(0, 0);
        box-shadow:  0 0 0 1000px rgba(0, 0, 0, 0.677);
    }
    100% {
        transform: translate(100%, 0);
        box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0);
    }
}
}
