.wpp-btn{
    position: fixed;
    z-index: 5;
    bottom: 11px;
    right: 11px;
    img{
        width: 63px;
        height: 100%;
    }
}
//! SMARTPHONES AND TABLETS
@media (max-width: 991px) {
    .wpp-btn{
        img{
            width: 55px; 
            height: 100%;
        }
    }
}